.container {
	height: 100%;
	min-height: 100vh;
}
.viewport {
	background-color: #f5f5f5;
	&.dark {
		.custom-control-input:checked ~ .custom-control-label::before {
			border-color: #6c757d;
			background-color: #6c757d;
		}
		background-color: #292929;
		color: #e1e1e1;
		.text-dark {
			color: #969696;
		}
		.card {
			background-color: #464646;
		}
		input.form-control {
			background-color: #cacaca;
		}
		.img-fluid {
			opacity: 0.7;
		}
	}
}
.card-header {
	padding-right: 65px;
	font-weight: 600;
	color: #17a2b8;
	img {
		position: absolute;
		right: 10px;
		top: 0px;
	}
}
.img-fluid {
	max-height: 200px;
	margin-top: 20px;
}
// .form-signin {
// 	width: 100%;
// 	max-width: 420px;
// 	padding: 15px;
// 	margin: 0 auto;
// }
